<div class="layout-topbar">
  <div class="layout-topbar-inner">
    <div class="layout-topbar-logo-container">
      <span>LOGO</span>
    </div>

    <ul class="topbar-items">
      <li>
        <button type="button" class="topbar-item" (click)="toggleDarkMode()">
          <i
            class="pi"
            [ngClass]="{ 'pi-moon': isDarkMode, 'pi-sun': !isDarkMode }"
          ></i>
        </button>
      </li>
      <li class="relative">
        <button
          type="button"
          class="topbar-item config-item"
          pStyleClass="@next"
          enterFromClass="hidden"
          enterActiveClass="animate-scalein"
          leaveToClass="hidden"
          leaveActiveClass="animate-fadeout"
        >
          <i class="pi pi-palette"></i>
        </button>
        <!-- <app-configurator/> -->
      </li>
    </ul>
  </div>
</div>
<div class="landing" [ngClass]="'layout-dark'">
  <div class="card flex justify-center">
    <p-button
      label="Check"
      icon="pi pi-check"
      (onClick)="toggleDarkMode()"
    ></p-button>
  </div>
</div>
<router-outlet />
